.filtrar {
    display: flex;
    background-color: #bbf0e8;
    width: 95%;
    justify-content: center;
    margin: 10px 0px 20px 0px;
    border-radius: 5px 5px 5px 5px;
}

.filtrar .opciones{
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.filtrar .opciones select{
    display: flex;
    flex-direction: row;
    margin: 0px 100px 0px 10px;
    
       
}


.cartas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    flex-wrap: wrap;
    margin: 20px 10px 20px 10px;
}
.cartas .contenido{
    display: flex;
    flex-direction: column;
    background-color: #bbf0e8;
    width: 30%;
    margin: 0px 20px 10px 20px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    

}

.cartas .contenido img{
    display: flex;
    width:250px;
    height:300px;
    border-radius: 300px;

}

.cartas .contenido h3{
    font-size: 25px;
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
}

.cartas .contenido p{
    font-size: 15px;
    text-align: justify;
}

.cartas .contenido .contenido-btn {
    display:flex;
    justify-content: center;
}

.cartas .contenido .contenido-btn a{
    text-decoration: none;
    background-color:aliceblue;
    padding:10px;
    border-radius: 5px;
    margin: 10px 0px 2px 0px; 
}